extends layout

block content
  header(class="bg-primary py-5 mb-5")
    h4 Welcome to Best Movie!
  div(class="container")
    div(class="row")
      each gen in genres
        div(class="col-md-4 mb-5")
          div(class="card h-100")
            div(class="card-body")
              h4(class="card-title")= gen.name
            div(class="card-footer")
              a(href="/genresView/"+gen.id+",1" class="btn btn-primary") Find Out More!